@font-face {
    font-family: 'sans';
    src: url("../fonts/IRANSansWeb.woff");
}
@font-face {
    font-family: 'nama';
    src: url("../fonts/IranNama.ttf");
}
@font-face {
    font-family: 'dana-l';
    src: url("../fonts/Dana/Dana-Light.woff");
}
@font-face {
    font-family: 'dana-m';
    src: url("../fonts/Dana/Dana-Medium.woff");
}
@font-face {
    font-family: 'dana-b';
    src: url("../fonts/Dana/Dana-Bold.woff");
}
@font-face {
    font-family: 'dana-h';
    src: url("../fonts/Dana/Dana-Heavy.woff");
}
* {
    font-family: 'dana-m';
}
.dana-h {
    font-family: 'dana-h';
}
.dana-l {
    font-family: 'dana-l';
}
.dana-b {
    font-family: 'dana-b';
}
.sans {
    font-family: 'sans';
}
.nama {
    font-family: 'nama';
}